---
title: Le blog Bipo
layout: default
permalink: /blog/
img: assets/images/header-blog.jpg
---

<a id="back-home" href="{{site.url}}"><i class="fa fa-home" aria-hidden="true"></i></a>

<div id="blog">

	<div id="blog-header" style="background-image: url({{ site.url}}/{{ page.img }})">

		<h1 id="blogTitle">Le blog de BipoWheel</h1>

	</div>

<!--
	<section class="wrapper style1 align-center">
		<div class="inner" id="posts-list">
			<div class="items style1 big onscroll-fade-in">
				{% for post in site.posts %}
				<section class="posts-excerpt" id="{{ post.id | replace:'/','' }}">
					<div class="post-excerpt-title" style="background-image: url({{ site.url }}/{{post.image}})">
						<h2>{{ post.title }}</h2>
					</div>
					<div class="post-excerpt">{{ post.content | markdownify | strip_html | markdownify | truncatewords:75 | remove_first:page.excerpt}}</div>
					<a href="{{ post.url }}" class="button big wide smooth-scroll-middle">Lire le billet complet</a>
					<p>- {{ post.date | date: "%d %B %Y" }} -</p>
				</section>
				{% endfor %}

			</div>
		</div>
	</section>
-->

      <!-- DEMO 3 Item-->
      
       
      



	<section class="wrapper style1 align-center">
		<div class="inner" id="posts-list">
			<div class="items style3 big onscroll-fade-in">
				{% for post in site.posts %}
				<section class="posts-excerpt" id="{{ post.id | replace:'/','' }}">
				  <div class="hover hover-3 post-excerpt-title"><img src="{{ site.url }}/{{post.image}}" alt="{{post.title}}">
          			<div class="hover-overlay"></div>
          			<div class="hover-3-content px-5 py-4">
           				 <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Image </span>Caption</h3>
           				 <p class="hover-3-description">{{post.description}}</p>
           				 <a href="{{ post.url }}" class="button big wide smooth-scroll-middle">Lire le billet complet</a>
						 <p>- {{ post.date | date: "%d %B %Y" }} -</p>
          			</div>
        		 </div>

					
					
				</section>
				{% endfor %}

			</div>
		</div>
	</section>



</div>


<script type="text/javascript">
	// Sticky element on blog home

// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var blogTitle = document.getElementById("blogTitle");
//Get Home button
var blogHome = document.getElementById("back-home");

// Get the offset position of the navbar
var sticky = blogTitle.offsetTop;

// Add the sticky class to the blogTitle when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    blogTitle.classList.add("sticky");
    blogHome.classList.add("stickyness");
  } else {
    blogTitle.classList.remove("sticky");
    blogHome.classList.remove("stickyness");
  }
} 
</script>