#youtube-videos{
	width:90%;
}

#youtube-videos section{
	padding: 2rem;
}


#youtube-videos section > .inner{
	height: 100%;
	display: flex;
	flex-direction: column;
}


#youtube-videos section > .inner > p{
	font-size: .8rem;
	margin: 0;
}



#youtube-videos section > .inner > iframe{
	height: 100%;
	width: 100%;
}

#youtube-channel{
	border-top-width: 0;
}

#youtube-channel ul li{
	margin: 0 auto;
}

#youtube-channel p{
	margin-bottom: .5rem;
}



@media screen and (min-width: 1280px) {
	#youtube-videos section{
		padding: 2rem;
		min-height: 17rem !important;
	}

	/* two first buttons */
	ul.actions.stacked{
		flex-direction: row;
	}

	ul.actions.stacked li{
		padding: 0 0 0 1rem;
	}
}