

h1, h2, h3, h4, h5, h6{
    font-family: "Lexend Deca", Helvetica, sans-serif;
}




/****** 
NAVBAR
******/


#navbar {
  position: absolute;
  top: 0%;
  left:0;
  right:0;
  width: auto;
  display: table;
  margin: 0 auto;
  z-index: 999;
  background-color: #ffffff;
}

#navbar a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

#navbar a:before,
#navbar a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

#navbar a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

#navbar a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

#navbar a:nth-child(1):before {
  background-color: yellow;
}

#navbar a:nth-child(1):after {
  background-color: red;
}

#navbar a:nth-child(2):before {
  background-color: #00e2ff;
}

#navbar a:nth-child(2):after {
  background-color: #89ff00;
}

#navbar a:nth-child(3):before {
  background-color: purple;
}

#navbar a:nth-child(3):after {
  background-color: palevioletred;
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

#navbar a:nth-child(1):hover {
  color: red;
}


#navbar a:nth-child(2):hover {
  color: #00e2ff;
}


#navbar a:nth-child(3):hover {
  color: purple;
}

#navbar a:hover:before,
#navbar a:hover:after {
  transform: scale(1);
}

#navbar a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);
}

#navbar a:nth-child(2):hover ~ #indicator {
  left: 34%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

#navbar a:nth-child(3):hover ~ #indicator {
  left: 70%;
  background: linear-gradient(130deg, purple, palevioletred);
}

/* active url */
#navbar a.active{
	color:#555;
}


/****** 
END NAVBAR
******/


/* Youtube section */

#videos-youtube section{
	padding: 2rem;
}


#videos-youtube section > .inner{
	height: 100%;
	display: flex;
	flex-direction: column;
}



#videos-youtube section > .inner > iframe{
	height: 100%;
	width: 100%;
}


#videos-youtube section.yb-frame p{
	font-size: .8rem !important;
	margin: 0 !important;
}

#youtube-channel{
	border-top-width: 0;
}

#youtube-channel ul li{
	margin: 0 auto;
}

#youtube-channel p{
	margin-bottom: .5rem;
}

@media screen and (min-width: 480px) {

  #videos-youtube section{
    padding: 2rem;
    min-height: 17rem !important;
  }
}

@media screen and (min-width: 1280px) {

	#videos-youtube{
		padding-bottom: 0;
		max-width: 80%;
	}
	#videos-youtube section{
		padding: 2rem;
		min-height: 20rem !important;
	}

	/* two first buttons */
	ul.actions.stacked{
		flex-direction: row;
	}

	ul.actions.stacked li{
		padding: 0 0 0 1rem;
	}
}





/*****************
 Blog home
 ****************/


/**** sticky ****/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  font-size: 1.7rem;
  transition: all .5s ease;
  background-color: #fff;
  padding-bottom: 1rem;
}

#blogTitle{
  transition: font-size .5s ease;
}
/**** sticky end ****/

 #blog #blog-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 #blog #blog-header h1{
  /*background-color: rgba(250,250,250,.7);
  border-radius: 100%;
  padding: 2rem 2rem 2.5rem 2rem; */
  color: #ffffff;
  text-shadow:
    0 1px #37393c,
    -1px 0 #4d4f52,
    -1px 2px #37393c,
    -2px 1px #4d4f52,
    -2px 3px #37393c,
    -3px 2px #4d4f52,
    -3px 4px #37393c, 
    -4px 3px #4d4f52,
    -4px 5px #37393c,
    -5px 4px #4d4f52;
    /*
    -5px 6px #37393c,
    -6px 5px #4d4f52,
    -6px 7px #37393c,
    -7px 6px #4d4f52,
    -7px 8px #37393c,
    -8px 7px #4d4f52;*/
 }

 #blog #posts-list{
  padding-top: 0;
 }


 #blog #posts-list .inner{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;

  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  border-radius: 15px;
 }

#blog #posts-list .post-excerpt-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
  background-image: linear-gradient(to bottom right, #ce93d8, #ab47bc);
  border-radius: 15px 15px 0 0;
}


 #blog #posts-list h2{
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 0;
 }

 #blog #posts-list .post-excerpt{
  text-align: left;
  margin-top: auto;
  padding: 1rem;
 }

 #blog #posts-list .button{
  margin: 0 auto .5rem auto;
  overflow: visible;
 }

  @media screen and (max-width: 1680px) {
    #blog .wrapper.style1 > .inner {
      padding: 0 ;
    }
}



/*******************
One post display
*******************/

#post{
  margin:5rem;
}

#post h1{
  text-align: center;
  margin-bottom: 2rem;
}